<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="../public/javascripts/angular/angular.min.js"></script>
    <script src="../public/javascripts/angular-route/angular-route.min.js"></script>
    <script src="../public/javascripts/mui.min.js"></script>
    <script src="../routes/angular9路由.js"></script>
    <script src="service.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/mui.min.css">
</head>
<body ng-app="myapp">
<div ng-view></div>
</body>
</html>