html,body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-family:Microsoft YaHei;
}
a{
    text-decoration:none;
    padding:0;
    margin:0;
}
.swiper-container{
    width:100%;
    height:100%
}
.swiper-wrapper{
    width:100%;
    height:100%;
}
.swiper-slide:nth-child(1){
    width:100%;
    height:100%;
    background:white;
}
header{
    width:100%;
    height:0.9rem;
    background:#129BF0;
    overflow:hidden;
    line-height:0.5rem;
    padding:0 0.1rem;
}
.logo{
    width:0.72rem;
    height:0.54rem;
    background:url(../images/logo.png) no-repeat;
    background-size:100% 100%;
    margin-top:0.16rem;
    float:left;
}
.choose{
    float:left;
    boreder:#0482da;
    height:0.4rem;
    line-height:0.5rem;
    border:0.01rem solid #0482DA;
    margin:0.2rem 0 0 0.5rem;
    border-radius:0.03rem;
}
.choose a{
    display:block;
    height:100%;
    width:1rem;
    font-size:0.28rem;
    float:left;
    line-height:0.2rem;
    text-align:center;
    line-height:0.4rem;
}
.choose a:nth-child(1){
    color:white;
    padding:0 0.1rem;
    background:#0482da;
}
.choose a:nth-child(2){
    color:#024a78;
    padding:0 0.1rem;
    background:
}
.weather{
    float:left;
    width:0.5rem;
    height:0.5rem;
    background:url(../images/weather.gif) no-repeat;
    background-size:100% 100%;
    margin-left:1.2rem;
    margin-top:0.2rem;
}
.per{
    float:left;
    width:0.48rem;
    height:0.48rem;
    background:url(../images/per.png) no-repeat;
    margin-left:0.26rem;
    margin-top:0.2rem;
}
.nav{
    float:left;
    display:block;
    width:0.48rem;
    height:0.48rem;
    background:url(../images/nav.png) no-repeat;
    margin-left:0.26rem;
    margin-top:0.23rem;
}
.list1{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin-top:0.2rem;
}
.list1 a{
    color:black;
    font-size:0.36rem;
}
.list2{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin-top:0.2rem;
}
.list2 a{
    color:black;
    font-size:0.36rem;
}
.lunbo{
    width:100%;
    height:3rem;
    margin-top:0.2rem;
}
.lunboimg{
    width:100%;
    height:100%;
    background:url(../images/lunbo1.jpg) no-repeat;
    background-size:100% 100%;
}
.tody{
    height:0.8rem;
    margin:0 0.2rem;
    position:relative;
    border-bottom:0.02rem solid #dfdfdf;
}
.tody strong{
    float:left;
    display:block;
    font-size:0.4rem;
    color:#129bf0;
    font-weight:600;
    margin-top:0.2rem;
}
.pages{
    float:right;
    line-height:0;
    margin-top:0.17rem;
}
.pages span{
    font-size:0.2rem;
    color:#129bf0;
}
.sec-con1{
    margin:0 0.2rem;
    overflow:hidden;
    padding:0.2rem 0;
    position:relative;
    border-bottom:0.02rem solid #dfdfdf;
}
.con1-left{
    float:left;
    width:1.8rem;
    height:1.34rem;
    background:url(../images/con1.jpg) no-repeat;
}
.con1-right{
    float:left;
    width:5.06rem;
    margin-left:0.22rem;
}
.con1-right h4{
    font-size:0.34rem;
    line-height:0.5rem;
    margin-top:-0.1rem;
}
.swiper-slide:nth-child(2){
    width:100%;
    height:100%;
}
.title2{
    width:100%;
    height:0.9rem;
    background:white;
    overflow:hidden;
    line-height:0.5rem;
    padding:0 0.1rem;
    border-bottom:0.02rem solid #dfdfdf;
}
.logo2{
    float:left;
    width:1.06rem;
    height:0.84rem;
    border-right:0.02rem solid #dfdfdf;
    background:url(../images/logo2.png) no-repeat 0 0;
    backgroundsize:1.24rem auto;
    background-position: 0.06rem 0.06rem;
}
.logo3{
    float:right;
    width:1.06rem;
    height:0.84rem;
    background:red;
    background:url(../images/logo2.png) no-repeat 0 0;
    backgroundsize:1.24rem auto;
}
.swiper-slide:nth-child(3){
    width:100%;
    height:100%;
}
.title3{
    width:100%;
    height:0.9rem;
    background:white;
    overflow:hidden;
    line-height:0.5rem;
    padding:0 0.1rem;
    border-bottom:0.02rem solid #dfdfdf;
}
.con31{
    width:100%;
    height:2.34rem;
    background:url(../images/con31.jpg) no-repeat;
    background-size:100% 100%;
}
.box{
    padding:0 0.4rem 0.2rem 0.4rem;
}
.con3t{
    padding:0.2rem 0;
}
.con3t h1{
    /*line-height:0.5rem;*/
    font-size:0.42rem;
    font-weight: bold;
    margin-top:.0.4rem;
}
.con3t h1{
    margin:0;
}
.con3t article{
    display:block;
    width:100%;
    line-height:0.4rem;
    margin-top:-0.3rem;
}
.con3t article time{
    font-size:0.2rem;
}
.con34{
    width:100%;
    height:3.84rem;
    background:url(../images/con34.jpg) no-repeat;
    background-size:100% 100%;
}
.con34t{
    width:100%;
    text-align:center;
    font-size:0.28rem;
    margin-top:0.2rem;
}
.con35{
    width:100%;
    font-size:0.36rem;
}

